# Dependencies
node_modules/

# Build outputs
dist/
.output/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
*.swp

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
